<%-include('../../partials/Header')%>
<%-include('../../partials/Navbar')%>

<script>
    function deleteConfirm(event, form) {
        /**
         * @function preventDefault Cancela a ação padrão, neste caso a ação de submissão
         */
        event.preventDefault()
        const decision = confirm('Do you really wants to delete this Article?');

        if (decision) {
            return form.submit();
            console.log('You have to confirmed the delection!');

        } else {
            return console.log('You have to canceled the action!');

        }
    }

</script>

<div class="container">
    <hr>
    <h2>Articles</h2>
    <a class="btn btn-success" href="/admin/articles/new">Create new Article</a>
    <hr>
    <!-- Creating tables with Bootstrap -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Category</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% article.forEach(article =>{ %>
            <tr>
                <td><%= article.id %></td>
                <td><%= article.title %></td>
                <td><%= article.slug %></td>
                <td><%= article.category.title %></td>
                <td>
                    <a href="/articles/edit/<%= article.id %> " class="btn btn-warning">Edit</a>
                    <form action="/articles/delete" method="POST" onclick="deleteConfirm(event, this)"
                        style="display: inline;">
                        <input type="hidden" name="id" value="<%= article.id %> ">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<%-include('../../partials/Footer')%>